@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6k09pv');
  src:  url('fonts/icomoon.eot?6k09pv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6k09pv') format('truetype'),
    url('fonts/icomoon.woff?6k09pv') format('woff'),
    url('fonts/icomoon.svg?6k09pv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before {
  content: "\e900";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-move-up:before {
  content: "\ea46";
}
